/*
general
*/
body {
    
    color: #1a2023;
}

h2 {
    color: #FA7A75;
}


.aboutDiv {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,92,122,1) 46%, rgba(234,230,113,1) 61%, rgba(209,96,61,1) 82%, rgba(223,41,53,1) 100%);
}


/*
lists
*/
li {
    list-style: none;
    display: flex;
    align-items: baseline;
}

.liL {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
li:visited {
    text-decoration: none;
    color: white;
}

.liR {
    padding-right: 10px;
}

li a {
    color: white;
    text-decoration: none;
    align-self: baseline;
}

/*
home
*/
.homeDiv {
    display: flex;
    align-items: center;

    margin-top: 5px;
}

.homeP {
    margin-left: 10px;
    margin-right: 10px;
}

/*
Nav Bar
*/
.navbar {
    width: 60%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #1a2023;
    font-family: sans-serif;

    border-right: 1px solid #1a2023;
    border-bottom: 1px solid #1a2023;
    border-left: 1px solid #1a2023;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.navbarL {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbarR {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contactNav {
    display: flex;
    align-items: center !important;
}

/*
projects
*/
.projectDiv {
    background-color: #1a2023;
    width: 33%;
}

.projectComponents {
    text-decoration: none;
    color: white;
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    margin: 5px;
}

.projectImgDiv {
    height: 100px;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.centerFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projectListBar {
    height: 30px;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,92,122,1) 46%, rgba(234,230,113,1) 61%, rgba(209,96,61,1) 82%, rgba(223,41,53,1) 100%);
}

.projectFrame {
    display: flex;
    flex-direction: row;
}


/*
about
*/
.aboutLandingDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    font-family: sans-serif;
}

.aboutDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    font-family: sans-serif;
}

.aboutDivTop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;
    width: 100%;
}

.aboutDivMid {
    border-top: 1px solid #FA7A75;
    border-bottom: 1px solid #FA7A75;
    width: 70%;
    display: flex;
    justify-content: center;
}

.aboutR {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jackPic {
    border-radius: 50%;
    box-shadow: 40px 30px #FA7A75;
    border: 4px solid white;
}

.redH1 {
    color: #FA7A75;
    margin-top: -20px;
}

.frisbeeDiv {
    display: flex;
    align-items: center;
}

.frisbeeP {
    margin-left: 10px;
    margin-right: 10px;
}


/*
RCV
*/
.splitDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blurb {
    width: 400px;

    font-family: sans-serif;
}

.rcvDiv {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.rcvImage {
    border: 1px solid #1a2023;
}


/*
contact
*/
.contactDiv {
    width: 90%;
    margin: auto;
    padding-top: 50px;

    font-family: sans-serif;
}

.contactDiv a {
    text-decoration: none;
    color: #1a2023;
}

